:root {
    --background-color: #e1e1e1;
    --font-color: #003954;
}

html, body {
    margin: 0;
    height: 100%;
    background-color: var(--background-color);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.logo {
    width: 100%;
    text-align: center;
}

.resume {
    font-family: Gotham-ultra;
    text-transform: uppercase;
    color: #003954; 
    margin-bottom: 20px;
}

.icons {
    display: flex;
}

.icon {
    width: 128px;
    transition: width 500ms;
}

.icon:hover {
    width: 256px;
    transition: width 500ms;
}

.snake {
    position: fixed;
    bottom: 20px;
    font-size: 18pt;
    transition: font-size 200ms;
}

.snake:hover {
    font-size: 22pt;
    transition: font-size 200ms;
    cursor: pointer;
}

.hidden {
    display: none;
}

@media (max-width: 812px) {
    .logo > img {
        width: 80%;
    }

    .icon {
        width: 64px;
        transition: width 500ms;
    }
    
    .icon:hover {
        width: 64px;
    }

    .snake {
        display: none;
    }
}

@font-face {
    font-family: Gotham-ultra;
    src: url('../fonts/Gotham Ultra.otf')
}